@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* For active hr, using Tailwind's block class */
*{
    font-family: Outfit;
}

.active hr {
    display: block;
}

/* For hiding the scrollbar, using direct CSS as Tailwind doesn’t support ::webkit-scrollbar */
::-webkit-scrollbar {
    display: none;
}
